p{
    margin-top: 50px;
}
.header {
    background-color: transparent;
    color: #42e415;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top:0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}