/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: transparent;
    color: #42e415;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top:0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#logo img {
    max-width: 100px; /* Adjust the logo size as needed */
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}
